.navigationBar {
  width: 100%;
  height: var(--gnb-height);
  display: flex;
  align-items: center;
  background-color: var(--theme-brown);
}

.navigationBar button {
  margin-left: 32px;
  border: none;
  background: none;
  color: #fff;
  font-size: 32px;
}
