:root {
  --font-main: 'Noto Serif KR', serif;
  --font-color-beige: #e5d5c6;
  --theme-brown: #9c4b3a;
  --theme-beige: #f5f2ed;
  --theme-dark-beige: #e2ded0;

  --gnb-height: 50px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: var(--font-main);
}

html,
body {
  height: 100vh;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
