.page {
  position: relative;
}

.background {
  position: absolute;
  width: 100%;
  height: calc(100vh - var(--gnb-height));
  background-image: url(./assets/img/mainBg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.buttonWrapper {
  position: absolute;
  width: 100%;
  margin-top: 100px;
  text-align: center;
}

.buttonWrapper button {
  width: 240px;
}
