.tableWrapper {
  width: 100%;
  height: 100%;
  margin-top: 180px;
  display: flex !important;
  justify-content: center;
}

.soupTable {
  position: relative;
  width: 320px;
  height: 260px;
  background-image: url(../../../../assets/default/table.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.soupTable article {
  position: absolute;
  text-align: center;
  cursor: pointer;
}

.soupTable article img {
  object-fit: none;
}

.soupTable article span {
  position: absolute;
  bottom: 32px;
  left: 24px;
  color: #fff;
  text-shadow: 1px 1px 1px black;
  font-size: 16px;
  font-weight: 600;
}

.soupTable .position_three {
  top: 15px;
  left: 115px;
}

.soupTable .position_four {
  top: 115px;
  left: 115px;
}

.soupTable .position_one {
  top: 60px;
  left: 30px;
}

.soupTable .position_two {
  top: 60px;
  right: 30px;
}

@media (max-width: 450px) {
  .tableWrapper {
    margin-top: 80px;
  }
}
