.page {
  width: 100%;
  height: calc(100vh - var(--gnb-height) - 85px);
  background-image: url(/assets/default/createSoupBg.png);
  background-repeat: no-repeat;
  background-size: 600;
  background-color: #e4d5c6;
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinnerWrapper {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #00000030;
  z-index: 200;
}

.soupTray {
  position: relative;
  width: 440px;
  height: 400px;
  margin-top: 60px;
  background-image: url(/assets/tray.png);
  background-repeat: no-repeat;
}

.soupTray img {
  position: absolute;
  left: 100px;
  bottom: 80px;
}

.soupWrapper {
  width: inherit;
  height: inherit;
}

.lottieWrapper {
  position: absolute;
  width: 100%;
  z-index: 10;
  display: flex;
  justify-content: center;
  top: -40px;
  left: 40px;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.lottieWrapper.play {
  opacity: 0.95;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;
}

.modalWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modalWrapper .messageWrapper {
  width: 100%;
  max-width: 380px;
  min-height: 240px;
  padding: 40px 25px 40px 40px;
  background-image: url(/assets/default/messageBoxBg.png);
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 100;
}

.modalWrapper .text {
  width: 100%;
  height: 140px;
  resize: none;
  background: transparent;
  padding: 0;
  border: none;
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-brown);
}
.modalWrapper .text:focus {
  outline: none;
}

.modalWrapper .text::-webkit-scrollbar {
  display: none;
}

.modalWrapper .buttonsWrapper {
  width: 100%;
  max-width: 340px;
  display: flex;
  column-gap: 20px;
  z-index: 100;
}

@media (max-width: 600px) {
  .page {
    background-size: cover;
  }
}

@media (max-width: 450px) {
  .soupTray {
    width: 340px;
    height: 300px;
    bottom: 30px;
    background-size: contain;
  }

  .soupWrapper .soupBowl {
    width: 200px;
    bottom: 70px;
  }

  .soupWrapper img {
    left: 70px;
  }

  .lottieWrapper {
    top: -100px;
  }
}
