.navigationBar,
.closeWrapper {
  width: 100%;
  height: var(--gnb-height);
  display: flex;
  align-items: center;
}

.navigationBar {
  background-color: var(--theme-brown);
}

.navigationBar button,
.closeWrapper button {
  margin-left: 24px;
  cursor: pointer;
  border: none;
  background: none;
  color: #fff;
  font-size: 40px;
}

.modalBackground {
  display: none;
}

.modalBackground.on {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: #00000030;
}

.menu {
  position: absolute;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  background-color: var(--theme-brown);
  transition: transform 0.4s ease-in-out;
  z-index: 20;
}

.menu.open {
  transform: translateX(300px);
}

.menu li {
  padding: 30px;
}

.menu li a {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--font-color-beige);
}

.menu li a .iconWrapper {
  margin-right: 10px;
  color: #fff;
  font-size: 30px;
}

.menu li div {
  display: flex;
  align-items: center;
  font-size: 18px;
  color: var(--font-color-beige);
  cursor: pointer;
}

.menu li div .iconWrapper {
  margin-right: 10px;
  color: #fff;
  font-size: 30px;
}
